<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        VineLoopr
      {% endblock %}
    </title>
    {% block css %}
      <link href="/css/style.css" rel="stylesheet" />
    {% endblock %}
    {% block js %}
      <script type="text/javascript" src="./js/jquery.js"> </script>
      <script type="text/javascript" src="./js/jquery.cookie.js"> </script>
      <script type="text/javascript" src="./js/client.js"> </script>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% block main %}

    {% endblock %}
  </body>
</html>