body {
  // padding: 50px;
  background: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 42px;
}

#vine {
	margin: 5px auto;
	display: block;
}
#description{
	text-align: center;
}